@font-face {
  font-family: 'OpenSans';
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/openSans-400.woff2') format('woff2');
}

@font-face {
  font-family: 'OpenSans';
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/openSans-600.woff2') format('woff2');
}

@font-face {
  font-family: 'OpenSans';
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/openSans-700.woff2') format('woff2');
}